@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

body {
    background-color: bisque;
}

* {
    padding: 0px;
    margin: 0px;
}
nav {
    background-color: chocolate;
}
ul {
    display: flex;
    align-items: center;
    height: 67px;
    list-style-type: none;
    font-family: "Varela", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
li {
    padding: 0rem 1.1rem;
}
.home_icon {
    display: flex;
    align-items: center;
    font-family: "Varela", sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
}
.home_icon > img {
    width: 44px;
    padding-right: 5px;
}
.container {
    height: 75vh;
    color: bisque;
    font-size: 1.2rem;
    background-color: black;
    display: flex;
    width: 75%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 34px;
}

.footer {
    position: sticky;
    bottom: 0;
    height: 90px;
    background-color: coral;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer input {
    margin-top: 0.5rem;
}

.iconPlaying {
    min-height: 40px;
    margin-top: 0.5rem;
}
.iconPlaying i {
    cursor: pointer;
}
.iconPlaying i:hover {
    color: black;
}

#songProgress {
    width: 50vw;
}
.songItemContainer {
    margin-top: 55px;
}

.songItem {
    height: 50px;
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: antiquewhite;
    display: flex;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.songItem img {
    width: 2.8rem;
    /* margin: 0 10px; */
}

.songItem .songIcon {
    margin-left: 10px;
    cursor: pointer;
}

.songItem .timeStamp {
    margin-right: 10px;
}

.songPlayinGif {
    position: absolute;
    left: 12vw;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.songPlayinGif img {
    width: 70px;
}
.songPlayinGif span {
    font-size: 1.3rem;
}
