@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

body {
    background-color: bisque;
}

* {
    padding: 0px;
    margin: 0px;
}
nav {
    background-color: chocolate;
}
ul {
    display: flex;
    align-items: center;
    height: 67px;
    list-style-type: none;
    font-family: "Varela", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
li {
    padding: 0rem 1.1rem;
}
.home_icon {
    display: flex;
    align-items: center;
    font-family: "Varela", sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
}
.home_icon > img {
    width: 44px;
    padding-right: 5px;
}
.container {
    height: 70vh;
}
.footer {
    position: sticky;
    height: 90px;
    background-color: coral;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.iconPlaying {
    min-height: 50px;
}
.iconPlaying i {
    cursor: pointer;
}
#songProgress {
    width: 50vw;
}
